// Переменные палитры цветов
$ghostWhite: #f8f8f8;
$tomato:#f38181;
$orange: #fce38a;
$aquamarine: #95e1d3;
$lightGray: #999;
$darkGray: #333;

$gradient: linear-gradient(to top, #fce38a, #f38181);







