@font-face {
    font-family: "Montserrat-Regular";
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('/fonts/Montserrat-Regular.woff') format('woff'),  
        url('/fonts/Montserrat-Regular.woff2') format('woff2');
        font-weight: 400;
        
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype'),
        url('/fonts/Montserrat-Bold.woff') format('woff'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2');   
        font-weight: 700;
 
}

@font-face {
    font-family: "KaushanScript-Regular";
    src: url('/fonts/KaushanScript-Regular.ttf') format('truetype'),
    url('/fonts/KaushanScript-Regular.woff') format('woff'),
    url('/fonts/KaushanScript-Regular.woff2') format('woff2');
    font-weight: 400;
    
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/fonts/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto-Regular.woff2') format('woff2');    
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url('/fonts/Roboto-LightItalic.ttf') format('truetype'),
    url('/fonts/Roboto-LightItalic.woff') format('woff'),
    url('/fonts/Roboto-LightItalic.woff2') format('woff2');    
}
