h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.wraper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

